doctype html
html(lang="uk")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="css/style.min.css")
  title Home
  body 
    include html/header
    //img(src="@img/map.svg", alt="img")
    //img(src="@img/swd-logo.png", alt="")
    h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tenetur amet ea quis dignissimos molestiae maiores a officiis corporis
    script(src="js/app.min.js") 